<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOLD İSTANBUL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{stylefile}}">


</head>

<body>
    <div class="container">
        <header class="text-center mt-5">
            <h1>İSTANBUL MÜZELER</h1>
        </header>
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../static/src/img/arkeoloji_muzesi.jpg" class="card-img-top" alt="İSTANBUL ARKEOLOJİ MÜZELERİ">
                    <div class="card-body">
                        <h5 class="card-title">İSTANBUL ARKEOLOJİ MÜZELERİ</h5>
                        <a href="/m1" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../static/src/img/galata_kulesi.jpg" class="card-img-top" alt="GALATA KULESİ">
                    <div class="card-body">
                        <h5 class="card-title">GALATA KULESİ</h5>
                        <a href="/m2" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../static/src/img/mozaik_muzesi.jpg" class="card-img-top" alt="BÜYÜK SARAY MOZAİKLERİ MÜZESİ">
                    <div class="card-body">
                        <h5 class="card-title">BÜYÜK SARAY MOZAİKLERİ MÜZESİ</h5>
                        <a href="/m3" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../static/src/img/ayasofya_muzesi.jpg" class="card-img-top" alt="AYASOFYA TARİH VE DENEYİM MÜZESİ">
                    <div class="card-body">
                        <h5 class="card-title">AYASOFYA TARİH VE DENEYİM MÜZESİ</h5>
                        <a href="/m4" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../static/src/img/rumelihisari.jpg" class="card-img-top" alt="RUMELİ HİSARİ">
                    <div class="card-body">
                        <h5 class="card-title">RUMELİ HİSARİ</h5>
                        <a href="/m5" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../static/src/img/islambilim.jpg" class="card-img-top" alt="İSLAM BİLİM VE TEKNOLOJİ TARİHİ MÜZESİ">
                    <div class="card-body">
                        <h5 class="card-title">İSLAM BİLİM VE TEKNOLOJİ TARİHİ MÜZESİ</h5>
                        <a href="/m6" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../static/src/img/adammickiewicz.jpg" class="card-img-top" alt="ADAM MİCKİEWİCZ MÜZESİ">
                    <div class="card-body">
                        <h5 class="card-title">ADAM MİCKİEWİCZ MÜZESİ</h5>
                        <a href="/m7" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../static/src/img/kizkulesi.jpg" class="card-img-top" alt="KIZ KULESİ">
                    <div class="card-body">
                        <h5 class="card-title">KIZ KULESİ</h5>
                        <a href="/m8" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../static/src/img/istanbulhavalimani.jpg" class="card-img-top" alt="İSTANBUL HAVALİMANI MÜZESİ">
                    <div class="card-body">
                        <h5 class="card-title">İSTANBUL HAVALİMANI MÜZESİ</h5>
                        <a href="/m9" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../static/src/img/turkislam.jpg" class="card-img-top" alt="TÜRK VE İSLAM ESERLERİ MÜZESİ">
                    <div class="card-body">
                        <h5 class="card-title">TÜRK VE İSLAM ESERLERİ MÜZESİ</h5>
                        <a href="/m10" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

</html>